{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {% for alert in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ alert.type }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ alert.text }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn btn-sm btn-primary" value="Save">
        <a href="{{ path('host_it_list_virtual_hosts') }}" class="btn btn-sm btn-default">Cancel</a>
    {{ form_end(form) }}
{% endblock content %}
